
.cell   
{
	text-align: center;
	white-space: nowrap;
	color: #FFFFFF;
}
.cell2  
{
	text-align: left;
	white-space: nowrap;
	color: #FFFFFF;
	font-size: 1.15em;
}
.cellc  
{
	text-align: center;
	white-space: nowrap;
	color: #E16C6C;
	font-size: .83em;
}
.is 
{
	text-align: center;
	white-space: nowrap;
	color: #FFFFFF;
	font-size: 1.2em;
}
.cellj  
{
	border-left: none;
	color: #AFA06E;
}

.cellm  
{
	text-align: center;
	white-space: nowrap;
	color: #A0A5C8;
}
.cellm2
{
	text-align: center;
	white-space: nowrap;
	color: #A0A5C8;
	font-size: 1.2em;
}
.cellnd  
{
	text-align: right;
	white-space: nowrap;
	color: #AFA06E;
	font-size: .5em;
}
.cellu  
{
	text-align: center;
	white-space: nowrap;
	color: #AFA06E;
}
.cellus
{
	text-align: left;
	white-space: nowrap;
	color: #AFA06E;
	font-size: .7em;
}
.cursed	{color: #E16C6C}
.norm   {color: #FFFFFF}
.normc
{
	text-align: center;
	color: #FFFFFF;
}
.oj     {color: #FF8000}
.unique	{color: #AFA06E}
.magic	{color: #A0A5C8}
.magic1 
{
	color: #A0A5C8;
	font-size: 1.2em;
}
